# Environment
.env
.env.local
*.local

# Node
node_modules/
npm-debug.log

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
*.tsbuildinfo

# System files
.DS_Store
Thumbs.db

# Editors
.idea/
.vscode/*
!.vscode/settings.json
